/*Basic CSS reset to reset default browser styles and ensure consistent pages across browsers*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

/*resetting the default ul margins*/
 ul {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* The 'navbar' class is being used to assign flex and other properties to the header. */
.navbar {
  /*positioned within context of the body*/
  position: fixed;
  /*the header will be as wide as the body*/
  width: 100%;
  /*assigning flexbox*/
  display: flex; 
  /*centers contents along the main axis*/
  justify-content: space-between;
  /*centers contents along the cross axis*/
  align-items: center;
  /*white colour*/
  background-color: white;
  /*stacks the header in front of all other content*/
  z-index: 1000;
  padding: 1rem;
  box-sizing: border-box;
}


/*Using flexbox to layout the navigation page links*/
.nav-links {
  display: flex;
  /*adds a small gap between each link*/
  gap: 1.5rem;
  /*removes the bullet points*/
  list-style: none;
}

main {
  padding: 1.1rem;
}

#header-illustration {
  width: 100%;
  max-width: 100vw; /* In case 100vw causes issues with overflow */
  height: auto;
  padding-top: 2.7rem; /* Optional padding */
}


#weekly-goal-box {
  display:flex;
  justify-content: space-around;
  color: #3E620D;
  align-items: center;
  background-color: #CFE2B7; /* mint green background color */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.1); /* Adds shadow for depth */
  padding: 1rem;
}


#circle {
  display: flex; /* Ensures the element is only as wide as its content */
  justify-content: center;
  align-items: center;
  width: 6.25rem;
  height: 6.25rem;
  padding: 0.438rem; /* Adjust padding to increase the size of the circle */
  border: 0.563rem solid #B6C99E; /* Creates the outline */
  border-radius: 50%; /* Makes the border a circle */
  text-align: center; /* Centers the text inside the circle */
}


#today {
  color: #3E620D;
  background-color: #CFE2B7; /* mint green background color */
  border-radius: 20px; /* Rounded corners */
  padding: 1px 22px;
}

/*Setting custom font sizes*/
h1{
 font-size: 48px; 
}

h2{
  font-size: 20px; 
 }

 p {
  font-size: 18px; 
 }

#week-container {
  padding-top: 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%
}

#days-of-week {
  display: flex;
  align-items: flex-start;
  justify-content:space-evenly;
  width: 100%

}


#days-of-week li{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#logging{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.logging-column{
  flex: 1;
}

#nature-time-half{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

#nature-time-button{
  background-color: #3E620D;
  color: #CFE2B7;
  border: none;
  font-family: 'DM Sans', sans-serif;
  border-radius: 40px;
  padding: 0.9rem;
  font-size: 1.25rem;
  display:flex;
  align-items: center;
  gap: 0.7rem;
  transform:translateY(53px)
}

#wellbeing-half {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 1.7rem;
}

.wellbeing-metric-unlogged {
  color: #3E620D;
  background-color: #CFE2B7; /* mint green background color */
  border-radius: 20px; /* Rounded corners */
  padding: 30px;
  flex: 1 1 calc(40% - 2rem); /*Each box takes up 40% of the container's width, minus the gap*/
}

.wellbeing-button{
  background-color: #3E620D;
  color: #FFFFFF;
  border: none;
  border-radius: 3.125rem;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  transform: translateX(115px); /* Moves the item 20px to the right */
}

/*creating a border for the form, adding width, margin and padding to center it*/
  
#nature-time-modal > form {
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  gap: 3rem;
  padding: 2rem 1rem;
  max-width: 500px;
}

fieldset.form-row{
  border: none;
  padding: 0;
  margin: 0;
}

fieldset > legend{
  padding-bottom:1rem;
}

#time-of-day {
  display:flex;
  flex-direction:column;
  gap:1rem;
}


/* MEDIA QUERIES - LARGER MOBILE DEVICE 430x932 */
@media screen and (max-width: 430px) {

  /*reducing the font sizes*/
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  p {
    font-size: rem;
  }

  #title {
    display:none;
  }

  #goal-illustration{
    display:none;
  }

  #header-illustration{
    margin-top: 5rem;
    display: inline;
    width: 300%;

  }

  #circle {
    width: 100px;
    height: 100px;
  }


  



}




  

