/*Basic CSS reset to reset default browser styles and ensure consistent pages across browsers*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

/*resetting the default ul margins*/
 ul {
  margin: 0;
  padding: 0;
}


header {
  width: 100%;
}

/* The 'navbar' class is being used to assign flex and other properties to the header. */
.navbar {
  /*positioned within context of the body*/
  position: fixed;
  /*the header will be as wide as the body*/
  width: 100%; 
  /*assigning flexbox*/
  display: flex; 
  /*centers contents along the main axis*/
  justify-content: space-between;
  /*centers contents along the cross axis*/
  align-items: center;
  /*white colour*/
  background-color: white;
  /*stacks the header in front of all other content*/
  z-index: 1000;
  padding: 2rem 1rem;
  box-sizing: border-box;
}


/*Using flexbox to layout the navigation page links*/
.nav-links {
  display: flex;
  /*adds a small gap between each link*/
  gap: 1.5rem;
  /*removes the bullet points*/
  list-style: none;
}

main {
  padding: 1.7rem;
}

#header-illustration{
  padding-top: 4rem;
  width: 100%;
}

#weekly-goal-box {
  display:flex;
  justify-content: space-around;
  color: #3E620D;
  align-items: center;
  background-color: #CFE2B7; /* mint green background color */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.1); /* Adds shadow for depth */
}


#circle {
  display: flex; /* Ensures the element is only as wide as its content */
  justify-content: center;
  align-items: center;
  width: 6.25rem;
  height: 6.25rem;
  padding: 0.438rem; /* Adjust padding to increase the size of the circle */
  border: 0.563rem solid #B6C99E; /* Creates the outline */
  border-radius: 50%; /* Makes the border a circle */
  text-align: center; /* Centers the text inside the circle */
}


#today {
  color: #3E620D;
  background-color: #CFE2B7; /* mint green background color */
  border-radius: 20px; /* Rounded corners */
  padding: 1px 22px;
}

/*Setting custom font sizes*/
h1{
 font-size: 48px; 
}

h2{
  font-size: 20px; 
 }

 p {
  font-size: 18px; 
 }

#week-container {
  padding-top: 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%
}

#days-of-week {
  display: flex;
  align-items: flex-start;
  justify-content:space-evenly;
  width: 100%

}


#days-of-week li{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}




/*
  //positioning the title 'Task Tracker' in the center of the page. Using flexbox?
  header > h1 {
    text-align: center;
  }
  
  //creating a border for the form, adding width, margin and padding to center it
  form {
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid grey;
    padding: 2em 1em;
  }
  
  
  .form-row {
    //making each individual input/label and submit button's container a flexbox
    display: flex;
    //aligning the flex container's items, respectively, to the right end of the container as the default axis is horizontal
    justify-content: flex-end;
    padding: .5em;
  }
  
  //setting a fixed width of 100 pixels for all the labels to make them nice and consistent
  .form-row > label {
    width: 100px;
  }
   
  //providing padding to the input fields and increasing their size to fill up the available space in the flex container
  .form-row > input , select {
    padding: .5em;
    flex-grow: 1;
  }
  */

/* MEDIA QUERIES - LARGER MOBILE DEVICE 430x932 */
@media screen and (max-width: 430px) {
 /*reducing font sizes*/
  h1 {
    font-size: 36px; 
  } 
  
  h2 {
   font-size: 18px; 
  }
 
  p {
   font-size: 16px; 
  }

}